<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
            id="SSLAnalysis">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.typestate.valuegroupanalysis.ValueGroupAnalysisPlugin"
               id="TypeStateAnalysisIFDS">
            <filter>
               <bySuperType>
	               <byMethodDecl subsignature="void main()">
	               </byMethodDecl>
               </bySuperType>
            </filter>
         </ifdsAnalysis>
      </analysisPack>
   </extension>
</plugin>
