<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
            active="false"
            id="HardCodedKeyAnalysis">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.typestate.hardcodedkeyanalysis.HardCodedKeyAnalysisPlugin"
               direction="backward"
               id="TypestateAnalysis.ifdsAnalysis1">
            <filter>
               <bySuperType>
                  <byMethodDecl></byMethodDecl>
               </bySuperType>
            </filter>
         </ifdsAnalysis>
      </analysisPack>
   </extension>
       <extension
          point="de.fraunhofer.sit.codescan.framework.analysis">
       <analysisPack
             active="false"
             id="CollectionAnalysis">
          <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.typestate.collectionanalysis.CollectionIteratorAnalysisPlugin"
               direction="forward"
               id="CollectionAnalysisIFDS">
             <filter>
                <bySuperType>
	               <byMethodDecl>
                 <byMethodCall
                        subsignature="java.util.Iterator iterator()">
                  </byMethodCall>
	               </byMethodDecl>
                </bySuperType>
             </filter>
          </ifdsAnalysis>
       </analysisPack>
    </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
            	 active="false"
                id="SourceToSinkAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.sourcesinkanalysis.SourceToSinkAnalysisPlugin"
                   direction="forward"
                   id="SourceToSinkAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.sootrunnertransformer">
          <Transformer
                class="de.fraunhofer.sit.codescan.sourcesinkanalysis.InsertAnnotationTransformer"
                executionTime="beforeAnalysis"
                packagename="wjtp.insertannotation"
                transformerType="Scene">
          </Transformer>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="false"
                id="IvAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.ivanalysis.IvAnalysisPlugin"
                   direction="forward"
                   id="IvAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="TypestateAnalysis.analysisPack1">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.aesfinder.AesFinderPlugin"
                   direction="backward"
                   id="TypestateAnalysis.ifdsAnalysis1">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.sootrunnertransformer">
          <Transformer
                class="de.fraunhofer.sit.codescane.transformers.PreparationTransformer"
                executionTime="beforeAnalysis"
                packagename="wjtp.constanttransformer"
                transformerType="Scene">
          </Transformer>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="TypestateAnalysis.analysisPack2">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.aesiifinder.ECBFinderPlugin"
                   direction="backward"
                   id="TypestateAnalysis.ifdsAnalysis1">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="false"
                id="TLSChannelClose">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.typestate.tlschannelcloseanalysis.TLSChannelCloseAnalysisPlugin"
                   direction="backward"
                   id="TLSChannelClosePlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
    <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="InsecureCipherFinder">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.insecurecipherfinder.InsecureCipherFinderPlugin"
                   direction="backward"
                   id="InsecureCipherFinderPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
        <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="InsecureMessageDigestFinder">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.insecuremessagedigestfinder.InsecureMessageDigestFinderPlugin"
                   direction="backward"
                   id="InsecureMessageDigestFinderPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="InsecureMacFinder">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.insecuremacfinder.InsecureMacFinderPlugin"
                   direction="backward"
                   id="InsecureMacFinderPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="EnabledCipherSuiteAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.typestate.enabledciphersuiteanalysis.EnabledCipherSuiteAnalysisPlugin"
                   id="EnabledCipherSuiteAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
        <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="true"
                id="EnabledProtocolAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.typestate.enabledprotocolanalysis.EnabledProtocolAnalysisPlugin"
                   direction="forward"
                   id="EnabledProtocolAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
</plugin>
