<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
            active="true"
            id="HardCodedKeyAnalysis">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.typestate.hardcodedkeyanalysis.HardCodedKeyAnalysisPlugin"
               direction="backward"
               id="TypestateAnalysis.ifdsAnalysis1">
            <filter>
               <bySuperType>
                  <byMethodDecl></byMethodDecl>
               </bySuperType>
            </filter>
         </ifdsAnalysis>
      </analysisPack>
   </extension>
       <extension
          point="de.fraunhofer.sit.codescan.framework.analysis">
       <analysisPack
             active="false"
             id="CollectionAnalysis">
          <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.typestate.collectionanalysis.CollectionIteratorAnalysisPlugin"
               direction="forward"
               id="CollectionAnalysisIFDS">
             <filter>
                <bySuperType>
	               <byMethodDecl>
                 <byMethodCall
                        subsignature="java.util.Iterator iterator()">
                  </byMethodCall>
	               </byMethodDecl>
                </bySuperType>
             </filter>
          </ifdsAnalysis>
       </analysisPack>
    </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
            	 active="false"
                id="SourceToSinkAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.sourcesinkanalysis.SourceToSinkAnalysisPlugin"
                   direction="forward"
                   id="SourceToSinkAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.sootrunnertransformer">
          <Transformer
                class="de.fraunhofer.sit.codescan.sourcesinkanalysis.InsertAnnotationTransformer"
                executionTime="beforeAnalysis"
                packagename="wjtp.insertannotation">
          </Transformer>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.framework.analysis">
          <analysisPack
                active="false"
                id="IvAnalysis">
             <ifdsAnalysis
                   class="de.fraunhofer.sit.codescan.ivanalysis.IvAnalysisPlugin"
                   direction="forward"
                   id="IvAnalysisPlugin">
                <filter>
                   <bySuperType>
                      <byMethodDecl></byMethodDecl>
                   </bySuperType>
                </filter>
             </ifdsAnalysis>
          </analysisPack>
       </extension>
       <extension
             point="de.fraunhofer.sit.codescan.sootrunnertransformer">
          <Transformer
                class="de.fraunhofer.sit.codescan.typestate.hardcodedkeyanalysis.NopTransformer"
                executionTime="beforeAnalysis"
                packagename="wjtp.noptransformer">
          </Transformer>
       </extension>
   
</plugin>
