<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
      		active="true"
            id="ECBAnalysis"
            natureFilter="com.android.ide.eclipse.adt.AndroidNature">
         <methodBasedAnalysis
               class="de.fraunhofer.sit.codescan.androidcrypto.ECBAnalysis"
               id="MethodBasedECBAnalysis">
         </methodBasedAnalysis>
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.androidcrypto.IFDSAnalysisPlugin1"
               direction="backward"
               id="ConstantInitAnalysis">
         </ifdsAnalysis>
      </analysisPack>
   </extension>

</plugin>
