<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysis
            errormessage="Encryption via ECB is known to be insecure. Consider using CBC instead."
            id="de.fraunhofer.sit.codescan.androidcrypto.analysis">
         <methodBasedAnalysis
               class="de.fraunhofer.sit.codescan.androidcrypto.ECBAnalysis">
         </methodBasedAnalysis>
      </analysis>
   </extension>

</plugin>
