<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
            id="SSLAnalysis">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.androidssl.analysis.SSLAnalysisPlugin"
               id="SSLAnalysisIFDS">
            <filter>
               <bySuperType
                     superType="android.webkit.WebViewClient">
               </bySuperType>
               <byMethodDecl
                     subsignature="void onReceivedSslError(android.webkit.WebView,android.webkit.SslErrorHandler,android.net.http.SslError)">
               </byMethodDecl>
            </filter>
         </ifdsAnalysis>
      </analysisPack>
   </extension>
</plugin>
