<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysis
            errormessage="Method is calling proceed() on the handle although it should really be checking the SSL Certificate."
            id="SSLAnalysis"
            subsignature="void onReceivedSslError(android.webkit.WebView,android.webkit.SslErrorHandler,android.net.http.SslError)"
            supertype="android.webkit.WebViewClient">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.androidssl.analysis.SSLAnalysisPlugin"
               ifdsAnalysisClass="de.fraunhofer.sit.codescan.androidssl.analysis.SSLAnalysisPlugin">
         </ifdsAnalysis>
      </analysis>
   </extension>

</plugin>
