<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.fraunhofer.sit.codescan.framework.analysis">
      <analysisPack
            id="SSLAnalysis"
            natureFilter="com.android.ide.eclipse.adt.AndroidNature">
         <ifdsAnalysis
               class="de.fraunhofer.sit.codescan.androidssl.analysis.SSLAnalysisPlugin"
               id="SSLAnalysisIFDS">
            <filter>
               <bySuperType>
	               <byMethodDecl>
	               </byMethodDecl>
               </bySuperType>
            </filter>
         </ifdsAnalysis>
      </analysisPack>
   </extension>
</plugin>
